
// ---
// Base Site Styles
// ---

* {
	 box-sizing: border-box;
}

// ---
// General Selectors
// ---

img,
.img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
table {
	width: 100%;
}

// ---
// Header
// ---
.site-logo {
    margin: 0;
    padding-top: $size-base/2;
    padding-bottom: $size-base/2;
}
.site-header-top {
	background: $black;
	position: relative;
	z-index: 10;
	&.stuck {
	  position:fixed;
	  top:0;
	  width: 100%;
	}
	a {
		color: $white;
		white-space: nowrap;
		display: inline-block;
		&.site-logo-link {
		    display: block;
		    line-height: 0;
		}
	}
	.phone {
		font-size: 2rem;
		vertical-align: middle;
		font-weight: bold;
		margin: 0 $size-base;
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include bp(md) {
	        justify-content: space-between;
	    }
	}
	.text-right {
		text-align: center;
		@include bp(md) {
	        text-align: right;
	    }
	}
}
.site-header-bottom {
	background: $white;
}

@media (max-width: 767px) {

	.site-header-top .phone {
	 	width: 100%;
		margin: 0;
	}

}

#oil {
	position: absolute;
	z-index: 1;
	pointer-events: none;
    top: 104px;
    left: -5px;
    width: 410px;
    display: none;
    @include bp(md) {
    	display: block;
    }
}


// ---
// Main Site Content
// ---

.wrapper {
	max-width: $screen-xl;
	width: 93%;
	margin: 0 auto;
}
.secondary-header {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}
.article-body-wrapper {
	background: $white;
}
.article-body {
	padding: $size-base 0;
}


// ---
// Footer
// ---
.site-footer {
	clear: both;
	background: $black;
	color: $white;
	padding: $size-base;
	p {
		line-height: 1;
	}
	a {
		color: $white;
		vertical-align: middle;
		display: inline-block;
		margin-left: $size-base/3;
		&:focus,
		&:hover {
			opacity: .9;
		}
	}
}