
// ---
// Base Site Styles
// ---

* {
	 box-sizing: border-box;
}

// ---
// General Selectors
// ---

img,
.img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
table {
	width: 100%;
}

// ---
// Header
// ---
.site-logo {
    margin: 0;
    padding-top: $size-base/2;
    padding-bottom: $size-base/2;
}
.site-header-top {
	background: $black;
	position: relative;
	z-index: 10;
	&.stuck {
	  position:fixed;
	  top:0;
	  width: 100%;
	}
	a {
		color: $white;
		white-space: nowrap;
		display: inline-block;
		&.site-logo-link {
		    display: block;
		    line-height: 0;
		}
	}
	.phone {
		font-size: 2rem;
		vertical-align: middle;
		font-weight: bold;
		margin: 0 $size-base;
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include bp(md) {
	        justify-content: space-between;
	    }
	}
	.text-right {
		text-align: center;
		@include bp(md) {
	        text-align: right;
	    }
	}
}
.site-header-bottom {
	background: $white;
}

@media (max-width: 767px) {

	.site-header-top .phone {
	 	width: 100%;
		margin: 0;
	}

}

#oil {
	position: absolute;
	z-index: 1;
	pointer-events: none;
    top: 104px;
    left: -5px;
    width: 410px;
    display: none;
    @include bp(md) {
    	display: block;
    }
}


// ---
// Main Site Content
// ---

.wrapper {
	max-width: $screen-xl;
	width: 93%;
	margin: 0 auto;
}
.secondary-header {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}
.article-body-wrapper {
	background: $white;
}
.article-body {
	padding: $size-base 0;
}

.anchor-navigation {
	display: none;
	z-index: 10;
	@include bp(md) {
		display: block;
	}
    position: fixed;
    left: 1rem;
    top: 50%;
    transform: translate(0,-50%);
    &.stuck {
    	position: fixed;
    }
	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	a {
	    width: 1rem;
	    height: 1rem;
	    background: $white;
	    border: .15rem solid lighten($blue, 15%);
	    border-radius: 50%;
	    display: block;
	    margin-bottom: 1rem;
	    position: relative;
	    color: $black;
	    &.active {
	    	background: lighten($blue, 5%);
	    }
	    span {
		    opacity: 0;
		    display: block;
		    white-space: nowrap;
		    position: absolute;
		    font-size: .875rem;
		    top: 50%;
		    left: 100%;
		    margin-left: 10px;
		    transform: translate(-5px,-50%);
		    transition: all 200ms ease;
		    background: rgba(255, 255, 255, 0.75);
		    border-radius: 1rem;
		    padding: 0 .25rem;
		}
		&:hover span,
		&:focus span,
		&.active span {
			opacity: 1;
			transform: translate(0px,-50%);
		}
	}
}

.search-results {
	h1 {
		text-align: center;
	}
	.tease {
	    margin-bottom: 1rem;
	    padding-bottom: 0rem;
	    border-bottom: 1px solid #ccc;
	    max-width: 800px;
	    margin: auto;
		img {
			display: none;
		}
		h2 {
			font-size: 1.5rem;
			margin-bottom: 0;
		}
	}
}


// ---
// Footer
// ---
.site-footer {
	clear: both;
	position: relative;
	z-index: 10;
	background: $black;
	color: $white;
	padding: $size-base;
	.wrapper {
		@include bp(md) {
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		}
	}
	form {
	    display: flex;
	    input[type="search"] {
		    background: none;
		    border: 0 none;
		    flex: 1;
		    border-bottom: 2px solid #555;
		}
		button {
		    margin: 0;
		    background: none;
		    border: 0 none;
		    padding: 0 1rem;
		}
	}
	p {
		line-height: 1;
	}

	a {
		color: $white;
		vertical-align: middle;
		display: inline-block;
		margin-left: $size-base/3;
		&:focus,
		&:hover {
			opacity: .9;
		}
	}
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 480px;
    text-align: center;
}

/* The Close Button */
.close {
	color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: white;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2rem;
    position: relative;
    z-index: 999999;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}