// ---
// Buttons
// ---

// Here's a simple button mixin. Instead of keeping it in utility/_mixin.scss, I'm putting it here so we can easily reference it without going into a new file.

@mixin button($background, $text-color: $color-text-light) {
	background-color: $background;
	color: $text-color;
	padding: $size-base/1.5 $size-base;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border: 0 none;
	margin-right: .25rem;
	margin-bottom: .5rem;
	text-align: center;
	font-weight: 300;
	border-radius: 0;
	line-height: 1.5;
}

// A note about naming: instead of .default-btn, I like to have .btn first so that it's more easily scannable. Change it up as you like!

// Default button
.button,
input[type="submit"],
button,
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce #review_form #submit {
	@include button($color-accent-dark);
	&:hover,
	&:focus {
		background-color: lighten($color-accent-dark, 10%);
		color: #fff;
	}
}

// Info button, maybe for "Read More" or something.
.button-white {
	@include button($white, $color-text-dark);
	&:hover,
	&:focus {
		background-color: darken($white, 10%);
	}
}

.button-alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	@include button($color-accent-med);
	&:hover,
	&:focus {
		background-color: lighten($color-accent-dark, 10%);
		color: #fff;
	}
}
