.nav-main {
    overflow-x: scroll;
    @include bp(sm) {
        overflow-x: hidden;
    }
    transition: all 0.75s ease;
}

.nav-items {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    margin: 0;
    justify-content: flex-start;
    @include bp(md) {
        justify-content: flex-end;
    }
    .nav-item {
        display: block;
    }
    a {
        color: $black;
        &:hover,
        &:focus {
            color: $blue;
        }
    }
}

.nav-item-link {
    padding: 1.4rem;
    display: block;
}
