<form action="https://www.halenhardy.com" id="search">
	<input type="search" name="s" placeholder="Search for a product..." required minlength="4">
	<button type="submit"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></button>
</form>
<p class="text-right">
	<small><a href="/terms-of-service">Terms of Service</a> &nbsp; - &nbsp; <a href="/privacy-policy">Privacy Policy</a> &nbsp; - &nbsp; &copy; {{"now"|date('Y')}} &nbsp;</small>
	<a href="https://www.facebook.com/halenhardy/" title="Facebook"><svg class="icon icon-facebook-square"><use xlink:href="#icon-facebook-square"></use></svg></a>
	<a href="https://twitter.com/halenhardy/" title="Twitter"><svg class="icon icon-twitter-square"><use xlink:href="#icon-twitter-square"></use></svg></a>
	<a href="https://www.linkedin.com/company-beta/3199730/" title="LinkedIn"><svg class="icon icon-linkedin-square"><use xlink:href="#icon-linkedin-square"></use></svg></a>
	<a href="https://www.youtube.com/channel/UChzhIqdfI-43niZ6Z10tzhA/" title="YouTube"><svg class="icon icon-youtube-square"><use xlink:href="#icon-youtube-square"></use></svg></a>
</p>