
// ----
// Helper classes
// ----

// These are non-semantic classes for quick formatting. In theory, it's best to remove these for production, but you know, in theory.

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.spacer-top {
	margin-top: $size-base;
}

.spacer-bot {
	margin-bottom: $size-base;
}
.column-count-2 {
	@include bp(sm) {
		column-count: 2;
		> * {
			break-inside: avoid;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.border-bottom {
	&:after {
	    content: "";
	    width: $size-base*5;
	    height: $size-base/1.5;
	    display: block;
	    background: $blue;
	    margin-top: $size-base;
	    margin-bottom: $size-base;
	}
}

.fill-parent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}