// ---
// Product Request Form Page
// ---
.products-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header-row {
    font-size: 1.25rem;
    border-bottom: 1px solid $grey;
}
.line-item-row {
	td {
		padding: .75rem 1rem;
	}
	&:nth-child(odd) {
		background: $grey;
	}
}