// ---
// WooCommerce Pages
// ---


// Listing Page
.post-type-archive-product.woocommerce {
    .products ul,
    ul.products {
        @include bp(md) {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            &:before,
            &:after {
                display: none;
            }
        }
    }
    li.product-category.product {
        text-align: center;
        margin: 0 0 1rem 0;
        @include bp(md) {
            margin: 0;
        }
        width: 100% !important;
        &.first {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
        a {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &:hover,
            &:focus {
                h2 {
                    background-color: $light-blue;
                }
            }
            img {
                align-self: center;
            }
            h2 {
                background-color: transparentize($dark-blue, .2);
                align-self: center;
                width: 100%;
                position: absolute;
                z-index: 10;
                color: white;
                font-size: 1.5rem;
            }
            .count {
                display: block;
                background: none;
                font-size: .75rem;
                color: white;
                margin-top: 0.25rem;
                font-weight: 300;
            }
        }
    }
}


// Product Page
.woocommerce-breadcrumb,
.product_meta {
    margin: $size-base 0;
}
.onsale {
    position: absolute;
    background: red;
    color: #fff;
    padding: .275rem 0.55rem;
}
figure.woocommerce-product-gallery__wrapper {
    margin: 0;
}

.woocommerce-page:not(.woocommerce-account) .site-main {
	background: $white;
	overflow: hidden;
}
.woocommerce .woocommerce-breadcrumb,
.woocommerce .related.products {
    padding: 1rem 0;
    background: $grey;
    position: relative;
    z-index: 10;
    &:before,
    &:after {
    	content: "";
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	width: 100%;
    	height: 100%;
    	background: $grey;
    	display: block;
    }
    &:before {
    	left: -100%;
    }
    &:after {
    	right: -100%;
    }
}

@media (min-width: 768px) {
	.woocommerce-tabs.wc-tabs-wrapper {
	    display: flex;
	    align-items: flex-start;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs {
	    flex: 1;
	}
	.woocommerce div.product .woocommerce-tabs .panel {
	    flex: 3;
	    border-top: 1px solid #d3ced2;
	    padding: 0 1rem;
        overflow: hidden;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
	    border-radius: 0;
	    background: #eee;
	    width: 100%;
	    border-bottom-width: 0px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
	    border-bottom-width: 1px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	    border-right-width: 0;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
	.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	    display: none;
	}
    .woocommerce div.product .woocommerce-tabs ul.tabs:before {
        z-index: 4;
    }
}

#content > .product {
    margin-top: 2rem;
}

.product_meta > span {
    display: block;
    font-size: .75rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li a {
    display: block;
    padding: .5rem 1rem;
    border: 1px solid #d0d0d0;
    background: #eee;
    border-bottom-width: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li:last-child a {
    border-bottom-width: 1px;
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li.is-active a {
    background: #fff;
    border-right-width: 0;
}
